<div  ng-init="header.pageLoading=true">
<div class="se-pre-con" ng-if="header.pageLoading"></div>
<link rel="shortcut icon" type="image/png" ng-href="{{admin.fav_icon.cdn.url}}"/>
<link rel="shortcut icon" type="image/png" ng-href="{{admin.fav_icon.cdn.url}}"/>

		
		
		<!--desktop and tab navbar-->
					<nav class="navbar navbar-default navbar-fixed-top col-xs-12 col-lg-12 hidden-xs hidden-sm visible-md visible-lg">
						<div class="container" style="margin-left:45px">
							<div class="col-xs-8 col-lg-3">
							
								<form class="search-setting" role="form" name="form" ng-submit="header.searchP()">
									<i class="fa fa-search search-icon"></i>
									<input type="text"  class="form-control setting-searchbox" name="name" ng-model="header.srch.name"   value="" placeholder="{{'views.headerbar.Search' | translate}}..."  >
								</form>
							</div>
							<div class="col-lg-5 hidden-xs hidden-md hidden-sm">
								<div class="brand" style="margin-left:28px;">
								<a ng-href="#/"><!--<img width="173px" height="40px" ng-src="{{admin.site_logo.cdn.url}}" />--> {{admin.title}}</a>
								</div>
							</div>
							<div class="col-xs-4 col-lg-4 navbar-right" style="margin-right: 0px;padding: 0px;">
								<div class="iconbox" style="display:inline-flex;padding-left:10px;">
									
										<a ng-href="{{header.sellerurl}}register" class="btn">Become A Seller</a>
										<a  ng-if="!header.user"  ng-href="#/register" class="btn">Join {{admin.title}}</a>
										<a ng-if="!header.user" ng-href="#/login" class="btn">Login</a>
										<a  ng-href="#/shop" class="btn">Shop</a>
										<a href="#/cart" class="btn"><i class="fa fa-shopping-cart">{{header.carts.length}}</i></a>
										 <!--3-->
					  <div class="dropdown dropdown-inline"  ng-if="header.user">
						<a href="" class="btn  dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="zoomIn zoomIn zoomIn zoomIn"><i class="fa fa-user"></i></a>
					   <ul class="dropdown-menu dropdownhover-bottom animated zoomIn" role="menu">
						  <li ng-if=header.cuser.logo>
							<a href="">
								<img  ng-src={{header.cuser.logo.cdn.url}} alt="user-logo" style="width:50px;height:50px;border-radius:100%;">
								<span>{{header.cuser.name}}</span>
							</a>
						  </li>
						  <li ng-if=!header.cuser.logo>
							<a href="">
								<img alt="user-logo" style="width:50px;height:50px;border-radius:100%;" ng-src=styles/img/male.png ng-if="header.cuser.gender=='male'">
								<img alt="user-logo" style="width:50px;height:50px;border-radius:100%;"  ng-src=styles/img/female.png  ng-if="header.cuser.gender=='female'">
								<span>{{header.cuser.name}}</span>
							</a>
						  </li>
						  <li class="divider"></li>
						  <li><a href="#/account">{{"views.headerbar.My Account" | translate}}</a></li>
						  <li><a href="#/invite-friend">{{"views.headerbar.Invite Friend" | translate}}</a></li>
						  <li><a href="#/order">My orders</a></li>
						  
						  <logout></logout>
						</ul>
					  </div>
								</div><!--icon-box-->
							</div><!--col-lg-4-->
						</div><!--container-->
					</nav>
					<!--mobile navbar-->
					<nav class="navbar navbar-default navbar-fixed-top visible-xs visible-sm hidden-md hidden-lg">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>
						  <a class="navbar-brand" href="#/" style="text-transform:uppercase;font-family: 'Nunito', sans-serif;font-weight: 500;font-size:23px;"><!--<img width="173px" height="40px" ng-src="{{admin.site_logo.cdn.url}}" />-->{{admin.title}}</a>
						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						  <ul class="nav navbar-nav">
							 <form class="navbar-form navbar-left" role="form" name="form" ng-submit="header.searchP()">
							<div class="form-group">
							  <input type="text" class="form-control" name="name" ng-model="header.srch.name"   value="" placeholder="{{'views.headerbar.Search' | translate}}..." >
							</div>
						  </form>
						  </ul>
						 
						  <ul class="nav navbar-nav navbar-right">
							<li><a ng-href="{{header.sellerurl}}register" >Become A Seller</a></li>
							<li ng-if="!header.user" ><a  ng-href="#/register" >Join {{admin.title}}</a></li>
							<li ng-if="!header.user" ><a  ng-href="#/login" >Login</a></li>
							<li ng-if="header.user" ><a  ng-href="#/account" >Account</a></li>
							<li ><a  ng-href="#/shop" >Shop</a></li>
							<li ><a  ng-href="#/cart" >Cart</a></li>
							<li ng-if="header.user"><a href="#/order">My orders</a></li>
							<li ng-if="header.user" ><logout></logout></li>
						  </ul>
						</div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
</div>

<script>
            setInterval(function() {
              $('.close').trigger('click');
            }, 12110);
          </script>
  <script>
	$(".sinput").focus(function(){
		$(".searchbox").addClass("active");
	});
	$(".sclose").click(function(){
		$(".searchbox").removeClass("active");
		$(".sinput").val("");
	});
	
	function openImage(evt, name) {
	
		src = evt.currentTarget.title;
		console.log(src);
		if(name=='video')
		{
		$('.video').find('iframe').attr('src',src);
		$('.image').addClass('hidden');
		$('.video').removeClass('hidden');
		}
		else{
		$('.image').attr('src',src);
		$('.video').addClass('hidden');
		//$('.image').removeClass('hidden');
		}
	
	}
	function openCitys(evt, cityName) {

    if (cityName == '')
      cityName = evt.currentTarget.title;

    var i, tabcontent, tablinks; // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tab-paneimg");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinkimg");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the link that opened the tab
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  
 
  </script>