<title>Invite friend</title>	

<div class="outer" >
	<div class="user-setting-outer">
		<header-bar></header-bar>
	</div>
	<div class="container setting-container">
		<div class="col-md-12">
			<div class="panel panel-default">
		    <div class="panel-heading">
		      <h3 class="panel-title">Invite Friends</h3>
		    </div>
	      <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="box-invite">
                <i class="fa fa-facebook-square"></i>
                <h4>Facebook</h4>
                <a href="#" class="btn btn-default">Invite Friends</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-invite">
                <i class="fa fa-twitter-square"></i>
                <h4>Twitter</h4>
                <a href="#" class="btn btn-default">Invite Friends</a>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="box-invite">
                <i class="fa fa-envelope-square "></i>
                <h4>Gmail</h4>
                <a href="#" class="btn btn-default">Invite Friends</a>
              </div>
            </div>
	        </div>
	      </div>
		  </div>
		</div>
	</div>
</div>			