<link rel="shortcut icon" type="image/png" ng-href="{{admin.fav_icon.cdn.url}}"/>
<link rel="shortcut icon" type="image/png" ng-href="{{admin.fav_icon.cdn.url}}"/>

<title>Suceess</title>	
<style>
.failure
{
	    padding: 7px 13px !important;
		font-size:41px !important;
		background:#C75353 !important;
		border-color:#C75353 !important;
}
</style>		
			<div class="success-outer" ng-if="success.success">
				<div class="success-inner">
					<div class="icon-stack text-center">
						<i class="fa fa-check success"></i>
						<h1>You're all Set !</h1>
						<a ng-href="#/account"><span>Order</span></a>
						<p class="lead text-center">
							Thanks for Being Awesome, <br/>
							We hope you enjoy your purchase!
						</p>
						<p class="text-center">
							<h3>{{admin.title}}</h3>
							<em>Phone:{{admin.contact.phone}}</em><br>
							<em>{{admin.contact.address}}</em>
						</p>
					</div>
				</div>
			</div>	
			<div class="success-outer" ng-if="success.error">
				<div class="success-inner">
					<div class="icon-stack text-center">
						<i class="fa fa-times failure" ></i>
						<h1>You're payment error !</h1>
						<a ng-href="#/cart"><span>View Cart</span></a>
						<p class="lead text-center">
							Thanks for Being Awesome, <br/>
							We hope you enjoy your purchase!
						</p>
						<p class="text-center">
							<h3>{{admin.title}}</h3>
							<em>Phone:{{admin.contact.phone}}</em><br>
							<em>{{admin.contact.address}}</em>
						</p>
					</div>
				</div>
			</div>			